# My Prediction is that Random Forest Classifier is gonna perform better than the logistical regresion.

In [20]:
import numpy as np
import pandas as pd
from pathlib import Path
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler
from sklearn.metrics import classification_report

In [21]:
# Import the data
data = Path("Resources/lending_data.csv")
df = pd.read_csv(data)
df.head()

,loan_size,interest_rate,borrower_income,debt_to_income,num_of_accounts,derogatory_marks,total_debt,loan_status
0,10700.0,7.672,52800,0.431818,5,1,22800,0
1,8400.0,6.692,43600,0.311927,3,0,13600,0
2,9000.0,6.963,46100,0.349241,3,0,16100,0
3,10700.0,7.664,52700,0.430740,5,1,22700,0
4,10800.0,7.698,53000,0.433962,5,1,23000,0

In [22]:
df.columns

Index(['loan_size', 'interest_rate', 'borrower_income', 'debt_to_income',
       'num_of_accounts', 'derogatory_marks', 'total_debt', 'loan_status'],
      dtype='object')

In [23]:
df["loan_status"].value_counts()

0    75036
1     2500
Name: loan_status, dtype: int64

In [24]:
# Define X and y 
y = df["loan_status"].values
X = df.drop("loan_status", axis=1)
target_names = ["Loan not approved", "Loan approved"]

In [25]:
y

array([0, 0, 0, ..., 1, 1, 1])

In [26]:
X

,loan_size,interest_rate,borrower_income,debt_to_income,num_of_accounts,derogatory_marks,total_debt
0,10700.0,7.672,52800,0.431818,5,1,22800
1,8400.0,6.692,43600,0.311927,3,0,13600
2,9000.0,6.963,46100,0.349241,3,0,16100
3,10700.0,7.664,52700,0.430740,5,1,22700
4,10800.0,7.698,53000,0.433962,5,1,23000
...,...,...,...,...,...,...,...
77531,19100.0,11.261,86600,0.653580,12,2,56600
77532,17700.0,10.662,80900,0.629172,11,2,50900
77533,17600.0,10.595,80300,0.626401,11,2,50300
77534,16300.0,10.068,75300,0.601594,10,2,45300
77535,15600.0,9.742,72300,0.585062,9,2,42300

In [27]:
# Split the data into X_train, X_test, y_train, y_test
X_train, X_test, y_train, y_test = train_test_split(X, y, random_state=7)

In [28]:
# Create the logistic regression model
from sklearn.linear_model import LogisticRegression
classifier = LogisticRegression(max_iter=10000)
classifier

LogisticRegression(max_iter=10000)

In [29]:
# Train a Logistic Regression model 
classifier.fit(X_train, y_train)

LogisticRegression(max_iter=10000)

In [30]:
# make predictions on test data
predictions = classifier.predict(X_test)

In [31]:
# DataFrame of Prediction and Actual values 
pd.DataFrame({"Prediction": predictions, "Actual": y_test})

       Prediction  Actual
0               0       0
1               0       0
2               0       0
3               0       0
4               0       0
...           ...     ...
19379           0       0
19380           0       0
19381           0       0
19382           0       0
19383           0       0

[19384 rows x 2 columns]

In [32]:
# Train a Logistic Regression model print the model score
print(f"Training Data Score: {classifier.score(X_train, y_train)}")
print(f"Testing Data Score: {classifier.score(X_test, y_test)}")

Training Data Score: 0.9923476406658412
Testing Data Score: 0.991642591828312

In [33]:
# Random Forest import
from sklearn.ensemble import RandomForestClassifier

In [38]:
# Train a Random Forest Classifier model and print the model score
clf = RandomForestClassifier(random_state=1, n_estimators=500).fit(X_train, y_train)
y_pred = clf.predict(X_test)
print(classification_report(y_test, y_pred, target_names=target_names))
print(f'Training Score: {clf.score(X_train, y_train)}')
print(f'Testing Score: {clf.score(X_test, y_test)}')

                   precision    recall  f1-score   support

Loan not approved       1.00      0.99      1.00     18785
    Loan approved       0.83      0.92      0.88       599

         accuracy                           0.99     19384
        macro avg       0.92      0.96      0.94     19384
     weighted avg       0.99      0.99      0.99     19384

Training Score: 0.9973861604072087
Testing Score: 0.9919521254643004

# The difference between both model is to small to make an assumption on which one is better, probably due to the data possibly being imbalance.